@{
    ViewData["Title"] = "Home Page";
}

@*<div class="text-center " >
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <a  asp-controller="Home" asp-action="CustomerForm" >create</a>


</div>*@

<div class="container  ">
    <div class="row">
    <div class="card col-md-12">
        <img src="https://images.unsplash.com/photo-1501167786227-4cba60f6d58f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8YmFua3xlbnwwfHwwfHw%3D&w=1000&q=80" style="height:700px"/>

    </div>
       
     </div>
    <div>
</div>
  
